* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    width:100%;
    height:100%;
    background-color: #fff;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    align-items: center;

    z-index:1;
}

.login-div {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.login-container img {
    width:130px;
    height:92px;
    margin:80px 0;
}

.login-username {
    width:260px;
    height:54px;
    border:1px solid #d7d7d7;
    border-radius:4px;
    outline:none;
    text-align: center;
    font-size:18px;
    color:#aeaeae;
    line-height: 25px;
    font-weight:400;
}

.border {
    border:1px solid red;
}

.login-btn {
    width:109px;
    height:45px;
    background-color: #e7e7e7;
    border-radius:9px;
    border:none;
    margin-top:20px;
    font-weight: 400;
    color:#696969;
}

.error {
    color: red;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

.loading {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loading img {
    width:100%;
    height:100%;
}

.sidebar-container {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    z-index: 3;
}

.background {
    background-color: rgba(0, 0, 0, 0.6);
    width:calc(100% - 35%);
    height:100vh;
}

.sidebar {
    width:35%;
    height:100%;
    background-color: #fff;
    display:flex;
    padding:20px;
}

.sidebar-content {
    margin-top:80px;
    width:100%;
    display:flex;
    flex-direction: column;
}

.titles-sidebar {
    display:flex;
    justify-content: center;
    align-items: center;
}

.titles-sidebar p, h3 {
    font-size:16px;
    font-weight:700;
    text-align: center;
}

h3 {
    margin-bottom:20px;
}

.titles-sidebar p {
    margin:30px;
}

.sidebar-content ul {
    list-style: none;
}

.sidebar-content ul {
    display:flex;
    flex-direction: column;
}

.sidebar-content li {
    display:flex;
    justify-content: space-between;
    height:36px;
    font-size:16px;
}

.contact-part, .visibility-part {
    display:flex;
    gap:10px;
}

.sidebar-content ion-icon {
    font-size:20px;
}

.selected {
    color:#28BB25;
}


.hidden {
    display:none;
}

header {
    width:100%;
    height:80px;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:25px;

    position:fixed;
    top: 0;
    left:0;

    box-shadow:0px 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    width:75px;
    height:53px;
}

header ion-icon {
    font-size:42px;
}

footer {
    width:100%;
    height: 80px;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;

    position:fixed;
    bottom:0;
    left:0;

    box-shadow:0px 0px 4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    width: 100%;
    border: none;
    outline: none;

    color:#000;
    font-weight:400;
    font-size:18px;
    line-height: 21px;
}

footer input::placeholder {
    color:#000;
    font-style:italic;
    line-height: 25px;
}

footer button {
    border:none;
    outline:none;
    background-color:#fff;
}

footer ion-icon {
    font-size:26px;
}

.sending-message-to {
    font-size:14px;
    font-weight:300;
    color:#505050;
}

main {
    margin: 90px auto;
    display:flex;
    flex-direction: column;
}

.message {
    width: 100%;
    min-height:40px;
    margin:5px 0;
    display:flex;
    align-items: center;
    padding:10px;

    font-size:18px;
    line-height:20px;
}

main div span {
    font-weight:700;
}

.time {
    color:#aaa;
}

.public {
    background-color: white;
}

.private {
    background-color: #ffdede;
}

.status {
    background-color:#dcdcdc;
}

.time {
    font-weight:400;
}

@media (max-width:760px) {
    .background {
        width: calc(100% - 70%);
    }

    .sidebar {
        width:70%;
    }
}